<h2>Template</h2>
From app template: hi
<h2>mixed-classic</h2>
{{mixed-classic}}
<h2>mixed-pod</h2>
{{mixed-pod}}
<h2>inline-template-classic</h2>
{{inline-template-classic}}
<h2>inline-template-pod</h2>
{{inline-template-pod}}
<h2>js-only-classic</h2>
JS Only classic: {{js-only-classic}}
<h2>js-only-pod</h2>
JS Only pod: {{js-only-pod}}
<h2>template-only-classic</h2>
{{template-only-classic}}
<h2>template-only-pod</h2>
{{template-only-pod}}
<h2>component-with-positionalparam-as-string</h2>
{{component-with-positionalparam-as-string "paramPassedFromApplicationTemplate"}}
<h2>component-with-actions using closure actions</h2>
{{component-with-actions classNames="component-with-actions--closure" componentAction=(action "routeAction")}}
<h2>dom click event</h2>
{{dom-evented classNames="dom-evented"}}
<h2>component-with-actions using classic actions (not supported atm)</h2>
{{component-with-actions classNames="component-with-actions--classic" componentAction="routeAction"}}

<h2>slashed js-only component rendering test</h2>
{{slashed/js-only}}
<h2>slashed template-only component rendering test</h2>
{{slashed/template-only}}
<h2>slashed inline-template component rendering test</h2>
{{slashed/inline-template}}
<h2>slashed mixed-classic component rendering test</h2>
{{slashed/mixed-classic}}

<h2>slashed podded js-only component rendering test</h2>
{{slashed-pod/js-only}}
<h2>slashed podded template-only component rendering test</h2>
{{slashed-pod/template-only}}
<h2>slashed podded inline-template component rendering test</h2>
{{slashed-pod/inline-template}}
<h2>slashed podded mixed-classic component rendering test</h2>
{{slashed-pod/mixed-classic}}

<h2>excluded-slashed js-only component rendering test</h2>
{{#excluded-slashed/js-only}}1{{/excluded-slashed/js-only}}
<h2>excluded-slashed template-only component rendering test</h2>
{{excluded-slashed/template-only}}
<h2>excluded-slashed inline-template component rendering test</h2>
{{excluded-slashed/inline-template}}
<h2>excluded-slashed mixed-classic component rendering test</h2>
{{excluded-slashed/mixed-classic}}


<h2>excluded-slashed podded js-only component rendering test</h2>
{{excluded-slashed-pod/js-only}}
<h2>excluded-slashed podded template-only component rendering test</h2>
{{excluded-slashed-pod/template-only}}
<h2>excluded-slashed podded inline-template component rendering test</h2>
{{excluded-slashed-pod/inline-template}}
<h2>excluded-slashed podded mixed-classic component rendering test</h2>
{{excluded-slashed-pod/mixed-classic}}