<h2>Template</h2>
From app template: hi
<h2>mixed-classic</h2>
{{mixed-classic}}
<h2>mixed-pod</h2>
{{mixed-pod}}
<h2>inline-template-classic</h2>
{{inline-template-classic}}
<h2>inline-template-pod</h2>
{{inline-template-pod}}
<h2>js-only-classic</h2>
{{js-only-classic}}
<h2>js-only-pod</h2>
{{js-only-pod}}
<h2>template-only-classic</h2>
{{template-only-classic}}
<h2>template-only-pod</h2>
{{template-only-pod}}
<h2>positional-params</h2>
{{#positional-params 1}}
  From yielded block
{{/positional-params}}
<h2>component-with-positionalparam-as-string</h2>
{{component-with-positionalparam-as-string "paramPassedFromApplicationTemplate"}}